.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  color: #212529;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #007bff;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    display: none;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    z-index: 1000;
    padding-top: 56px;
    background-color: #f8f9fa;
    transition: right 0.3s ease-in-out;
  }

  .navbar-collapse.show {
    right: 0;
  }

  .navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
  }
}
